<article class="country__card">
    <div class="country__content">
        <h2 class="country__name">{{name}}</h2>
        <img src="{{flag}}" alt="{{name}}" class="card__image" />
        <ul class="country-info__list">
            <li class="country-info__link">{{capital}}</li>
            <li class="country-info__link">{{population}}</li>

            <li class="country-info__link">
                <ul class="tag-list">
                    {{#each languages}}
                    <li class="lang-list__item">{{this}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</article>